html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Times New Roman", Times, serif;
  background-color: rgb(135, 73, 73);
  animation: color-cycle 10s linear infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  width: 80%;
  animation: color-cycle 10s linear infinite;
}

@keyframes color-cycle {
  0% {
    background-color: rgb(135, 73, 73);
  }
  14.29% {
    background-color: orange;
  }
  28.57% {
    background-color: yellow;
  }
  42.86% {
    background-color: green;
  }
  57.14% {
    background-color: blue;
  }
  71.43% {
    background-color: indigo;
  }
  85.71% {
    background-color: violet;
  }
  100% {
    background-color: red;
  }
}

.container {
  padding: 1.5rem;
  background-color: honeydew;
  border: 2px solid black;
  box-shadow: inset 0 0 10px black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px auto;
  width: 80%;
}

.recipe-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.recipe-links a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
  background-color: #ed0a0a;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.recipe-links a:hover {
  background-color: #552f09;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;
  color: #ed0a0a;
}

img {
  width: auto;
  height: auto;
}

h3 {
  color: #ed0a0a;
  font-size: 1.5rem;
}

p {
  font-size: 1.2rem;
  color: #040000;
}

li {
  font-size: 1.2rem;
  color: #040000;
}

ul {
  font-size: 1.2rem;
  color: #040000;
}

ol {
  font-size: 1.2rem;
  color: #040000;
}
